@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* universal selector-- romoved default margin padding and set box sizing , fontfamily */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* global class for button */
.btn {}

/* main  */
main {
    width: 100%;
    height: max-content;
    overflow-x: hidden;

}




/* navbar start here ========================== */
nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav>.navwrapper {
    background-color: white;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>.navwrapper>.navlogo {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}

nav>.navwrapper>.navright {
    text-decoration: none;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: black;
    text-transform: capitalize;
}

/* navbar end here ========================== */




/* banner start here ========================= */
.banner {
    width: 100%;
    height: calc(100vh - 90px);
    background: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.banner>.bannercontents {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;


}

.banner .bannercontents .bannerimg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: transparent;
    margin-bottom: 20px;

}

.banner .bannercontents .bannerheader {
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}

.banner .bannercontents .bannerpara {
    width: 60%;
    text-align: center;
    text-transform: capitalize;
}

.banner .bannercontents .bannerbtn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
    margin-top: 20px;
}

/* banner end here ========================= */


/* work start here ========================== */
.work {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0px;
    padding: 20px;
}

.workwrapper {
    background-color: rgba(13, 19, 33, 0.02);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.worktop {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    text-transform: capitalize;
    background-color: transparent;
}

.work_header {
    margin: 10px 0px;
}

.work_para {
    font-size: 14px;

}

.workbottom {
    width: 100%;
}

.work_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;


}

.work_item {
    background: linear-gradient(to right, rgba(0, 76, 232, 0.05), rgba(255, 255, 255, 0));
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: max-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.work_item_center {
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to top, rgba(255, 76, 30, 0.05), rgba(255, 255, 255, 0));
}

.work_item_contents {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    text-transform: capitalize;
}

.work_item_header {
    color: #555;
    font-size: 20px;
    font-weight: 400;

}

.work_item_para {
    font-size: 14px;
}

.workimg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.work_link {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: black;
    padding: 5px 10px;
}

/* work end here ========================== */

/* video start here======================== */
.video_container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px auto;
    gap: 30px;

}

.video_header {
    width: 90%;
    text-align: center;
}

.video_para {
    width: 70%;
    text-align: center;
}

.video {
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid lightgray;
}

/* video end here======================== */


/* target start here======================== */
.target {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto;
}

.target_h {
    font-size: 30px;
    text-align: center;
}

.target_p {
    font-size: 14px;
    text-transform: capitalize;

}

.target_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.target_item {
    width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;

}

.target_para {
    width: 80%;
}

.target_img {
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.target_link {
    color: black;
    text-decoration: underline;
}

/* target end here==================== */


/* next target  start here===============*/
.next {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.next_header {
    text-align: center;
    font-size: 30px;
}

.next_para {
    width: 48%;
    text-align: center;
    font-size: 13px;
    margin: 10px auto;
}

.next_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    background-color: white;
    padding: 20px;

}

.nextitem {
    border: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.nextimg {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.nextitem_contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
}

.next_item_header {
    font-size: 25px;
    color: #555;
}

.next_item_para {
    font-size: 18px;
}

.next_item_link {
    color: black;
    font-size: 16px;
}

/* next target  end here===============*/


/* contact start here=============== */
.contact {
    width: 80%;
    height: 186px;
    background: url('../assets/handshake.jpg');
    margin: 40px auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;

}

.contactform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.contact_input {
    width: 80%;
    padding: 10px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.submit_btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid lightgray;
    cursor: pointer;

}

/* contact end here=============== */


/* footer start here =================== */
footer {
    margin: 30px auto;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footertext {
    text-transform: capitalize;
    color: #555;
}

.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.footer_links>li {
    cursor: pointer;

}

.footer_links>li>a {
    text-decoration: none;

}

.footer_links>li>a>img {
    width: 25px;
    height: 25px;
}

/* footer end here===================== */